<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>Авторизация</h2>
<form th:action="@{/login}" method="post">
    <div th:if="${param.error != null and !param.error.isEmpty()}">
        <p style="color: red;">Неверный логин или пароль</p>
    </div>

    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>

    <button type="submit" class="btn">Войти</button>
</form>
</body>
</html>